{% extends "base.html" %}

{% block content %}

<h1 class="text-center py-3">Workout List</h1>

<span class="ml-5">Logged in as: {{ user.username }}</span>

<div class="row">
    {% for exercise in exercise_list %}
    <div class="col-sm-4 py-3">
        <div class="card m-auto" style="max-width: 20rem;">
            {% if "placeholder" in exercise.workout.featured_image.url %}
            <img src="https://res.cloudinary.com/die65ihvc/image/upload/v1667139010/PROJECT-4/featured-placeholder_psw6rc.jpg"
                class="card-img-top" alt="placeholder">
            {% else %}
            <img src="{{ exercise.workout.featured_image }}" class="card-img-top" alt="placeholder">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title text-center">
                    {% if user == exercise.created_by %}
                    <a href="{% url 'exercise_detail' exercise.id %}">
                        {{ exercise.exercise }}
                    </a>
                    {% else %}
                    <h5 class="card-title text-center">
                        {{ exercise.exercise }}
                    </h5>
                    {% endif %}
                </h5>
                <ul>
                    <li>Workout Group: {{ exercise.workout }}</li>
                    <li>Created by: {{ exercise.created_by }}</li>
                </ul>
                {% if user == exercise.created_by %}
                <a href="{% url 'update_exercise' exercise.id %}" class="btn btn-primary">Edit Exercise</a>
                <a href="{%  url 'update_workout' exercise.workout.id%}" class="btn btn-primary">Edit Workout</a>
                {% else %}
                <a href="#" class="btn btn-primary disabled">Edit Exercise</a>
                <a href="#" class="btn btn-primary disabled">Edit Workout</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}